<div class="comments">
  {{#each this}}
  <section class="card">
    <div class="card-header has-background-link">
      <span class="has-text-white card-header-title">{{user.username}} on {{format_date created_at}}</span>
    </div>
    <div class="card-content">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>