<section>
  <h2 class="title has-text-link">Create New Post</h2>

  <form class="field">
    <div>
      <label class="has-text-link subtitle" for="post-title">Enter your new post here:</label>
      <input class="input is-normal is-link" type="text" id="post-title" name="post-title" />
    </div>
    {{!-- <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div> --}}
    <button class="button is-link" type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2 class="title">Your Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>